<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyStore</title>
</head>
<body>

<a href="{% url 'index' %}">
    <h1>MyStore</h1>
</a>

{% if user.is_authenticated %}
    {{ user.username }}
<a href="{% url 'logout' %}">Log Out></a>
{% else %}

<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Registry</a>

{% endif %}

{% if user.cart %}
<p>
  <a href="{% url 'cart' %}">show cart ({{ user.cart.orders.count }})</a>
</p>
{% endif %}

{% block content %}

{% endblock %}

</body>
</html>